
@{
    ViewBag.Title = "Compras";
    Layout = "~/Views/Shared/_Layout_Tienda.cshtml";
}
<style>
    .accordion-button {
        cursor: pointer !important;
    }
</style>
<div class="row mt-5 pt-4">
    <div class="col-12">
        <h3>Mis Compras</h3>
    </div>
</div>
<div class="row mt-2" style="margin-bottom: 200px;">
    <div class="col-12">
        <div class="card">
            <div class="card-body bg-dark">

                <div class="accordion" id="accordion_articulos">

                </div>
            </div>
        </div>

    </div>

</div>

@section scripts{
    <script>
        function zeroFill(number, width) {
            width -= number.toString().length;
            if (width > 0) {
                return new Array(width + (/\./.test(number) ? 2 : 1)).join('0') + number;
            }
            return number + ""; // siempre devuelve string
        }

        $(document).ready(function () {
           jQuery.ajax({
                url: '@Url.Action("ObtenerCompra", "Tienda")',
                type: "GET",
                data: null,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    console.log(data)
                    if (data.lista != null) {
                        $.each(data.lista, function (i, v) {
                            var accordion_item = $("<div>").addClass("accordion-item");

                            var accordion_header = $("<div>").addClass("accordion-header").append(
                                $("<div>").addClass("accordion-button collapsed bg-dark text-white").attr({ "data-bs-toggle": "collapse", "data-bs-target": "#collapse" + i, "aria-expanded": "false" }).append(
                                    $("<div>").addClass("d-flex justify-content-between w-100").append(
                                        $("<div>").text("N° " + zeroFill(i + 1, 5)),
                                        $("<div>").addClass("me-4").text("Fecha Compra: " + v.FechaTexto)
                                    )
                                )
                            );

                            var accordion_collapse = $("<div>").attr({ "id": "collapse" + i }).attr({"data-bs-parent":"#accordion_articulos"}).addClass("accordion-collapse collapse");

                            var accordion_body = $("<div>").addClass("accordion-body");
                            $.each(v.oDetalleCompra, function (x, dc) {
                                //para cada item carrito
                                var d_flex = $("<div>").addClass("d-flex flex-row border p-2").append(
                                                $("<img>").attr({ "src": "data:image/" + dc.oProducto.extension + ";base64," + dc.oProducto.base64,"width":"50"}),
                                                $("<div>").addClass("p-2").text(dc.oProducto.Nombre),
                                                $("<div>").addClass("p-2 ms-auto").text("Cantidad: " + dc.Cantidad),
                                                $("<div>").addClass("p-2 ").text("Total: S/. " + dc.Total)
                                            )
                                accordion_body.append(d_flex);

                            });

                            accordion_body.append(
                                $("<div>").addClass("d-flex justify-content-between bg-light border").append(
                                    $("<div>").addClass("p-2").text("Total Importe:"),
                                    $("<div>").addClass("p-2").text("S/. " + v.Total)
                                )
                            );
                            
                            accordion_collapse.append(accordion_body);
                            accordion_item.append(accordion_header);
                            accordion_item.append(accordion_collapse);

                            $("#accordion_articulos").append(accordion_item);
                        });
                        s
                    }
                },
                error: function (error) {
                    console.log(error)
                },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show");
                },
            });
        })
         
    </script>
}

